---
- name: Detect all Stow packages
  ansible.builtin.find:
    # This assumes your 'stow' folder is at the root of your repo
    paths: "{{ playbook_dir }}/../stow"
    file_type: directory
    recurse: no
  register: found_packages
  become: false

- name: Stow dotfiles packages
  ansible.builtin.shell:
    # Use the actual user's home, not root's
    cmd: "stow -v -d {{ playbook_dir }}/../stow -t /home/{{ ansible_user_id }} {{ item.path | basename }}"
  loop: "{{ found_packages.files }}"
  register: stow_result
  # We run this as the user so symlinks have the correct ownership
  become: false
  changed_when: "'LINK' in stow_result.stderr or 'UNLINK' in stow_result.stderr"