---
- name: Install yay
  become_user: "{{ dev_user }}"
  shell: |
    if ! command -v yay >/dev/null; then
      cd /tmp
      git clone https://aur.archlinux.org/yay.git
      cd yay
      makepkg -si --noconfirm
    fi
  args:
    creates: /usr/bin/yay

- name: Install AUR packages
  become: true
  become_user: "{{ dev_user }}"
  command: >
    yay -S --noconfirm --needed
    --answerclean All
    --answerdiff None
    {{ aur_packages | join(' ') }}
  environment:
    HOME: "{{ dev_home }}"
  args:
    creates: "/usr/bin/{{ aur_packages[0] }}"
